.Toastify__toast {
    font-family: 'avenixel', sans-serif !important;
    font-size: 1rem;
    color: white;
    padding: 5px 10%;
    background-color: black;
    width: fit-content;
}

@media (min-width: 740px){
  .Toastify__toast {
    font-size: 1.25rem;
  }
}

.lvl2 {
  box-shadow: 
    3px 0 black,
    -3px 0 #ababab,
    0 -3px #ababab,
    0 3px black,
    6px 0 black,
    -6px 0 black,
    0 -6px black,
    0 6px black,
    0 0 0 3px black;
  margin: 0px auto;
}